.notif-card {
    width: 100%;                   /* IE6 needs any width */
    overflow: hidden;              /* "overflow" value must be different from  visible"*/ 
    -o-text-overflow: ellipsis;    /* Opera < 11*/
    text-overflow:    ellipsis;    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
    white-space: nowrap;
    margin: 5px;
     
}

.box {
    width: 100%; 
    padding:  10px;
    background: white;
    box-shadow: 3px 3px 8px #888888;
  }